footer {
    height: 70vh;
}

.bg-color {
    background-color:  #353535;
}


.header {
    background-color: black ;
    min-height: 90vh;
}

.hidden{
    display: none;
}

.header-card {
    max-width: 40%; 
    height: auto;
    color: white;
    text-align: end;
    margin: 10%;
    z-index: 100;
}

.article-cards{
    min-height: 50vh;
}

legend {
    font-size:  1.1rem !important;
}

.links-info{
    list-style: none;
}

.links-info a{
    text-decoration: none;
    color: white;
}
.section-container{
    height: calc(100vh - (86px + 56px));
}

.formContainer {
    width: 50vw;
}

@media  screen and (max-width: 992px){
    .header-card {
        font-size: 0.9rem;
        min-width: 95%;
        text-align: center;
        padding: 0 2%;
    }
}

@media screen and (max-width: 768px){
    .card-text{
        font-size: 0.8rem;
    }
    .card-title {
        font-size: 1rem;
    }
    legend{
        font-size: 1rem !important;
    }
    .formContainer{
        width: 90vw;
    }
    .section-container{
        height: auto;
    }
}

/* template */
